/Logs/
/ucf_action/
/venv/
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/videoBasedActionRecognition.iml
/ucf_sports_actions.zip
/dataset_action/Diving/
/dataset_action/Golf-Swing/
/dataset_action/Kicking/
/dataset_action/Lifting/
/dataset_action/Riding-Horse/
/dataset_action/Running/
/dataset_action/SkateBoarding/
/dataset_action/Swing-Bench/
/dataset_action/Swing-Side/
/dataset_action/Walking/
