/dataset_action/
/Logs/
/ucf_action/
/venv/
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/videoBasedActionRecognition.iml
/ucf_sports_actions.zip
